.fade {
  background: linear-gradient(0deg, rgba(3,1,34,0.7122199221485469) 0%, rgba(255,0,0,0) 54%);
}

.shimmer {
  position: relative;
  background: #201F2DFF linear-gradient(to right, #201F2DFF 0%, #393d42 20%, #201F2DFF 40%, #201F2DFF 100%) no-repeat;
  background-size: 800px 2000px;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmerAnim;
  animation-timing-function: linear;
}

@-webkit-keyframes shimmerAnim {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}